asgiref==3.2.3
attrs==19.3.0
cffi==1.14.0
cryptography==2.8
Django==3.0.3
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-taggit==1.2.0
djangorestframework==3.11.0
importlib-metadata==1.5.0
more-itertools==8.2.0
packaging==20.3
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pyparsing==2.4.6
pytest-django==3.8.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
wcwidth==0.1.8
zipp==3.1.0
coverage>=5.0.4
beautifulsoup4
requests==2.19.1
requests-oauthlib==1.0.0
