body{
    margin-top:20px;
    background:#eee;
}

.post {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.post:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #2d353c;
    left: 20%;
    margin-left: -2.5px
}

.post .post-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.post .post-time .date,
.post .post-time .time {
    display: block;
    font-weight: 600
}

.post .post-time .date {
    line-height: 16px;
    font-size: 12px
}

.post .post-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #242a30
}

.post .post-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.post .post-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2d353c;
    transition: border-color .2s linear
}

.post .post-body {
    margin-left: 15%;
    margin-right: 17%;
    background: #fff;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.post .post-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 20px
}

.post .post-body>div+div {
    margin-top: 15px
}

.post .post-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.post-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}

.post-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0
}

.post-header .username {
    font-size: 16px;
    font-weight: 600
}

.post-header .username,
.post-header .username a {
    color: #2d353c
}

.post img {
    max-width: 100%;
    display: block
}

.post-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px
}

.post-content:after,
.post-content:before {
    content: '';
    display: table;
    clear: both
}

.post-title {
    margin-top: 0
}

.post-footer {
    background: #fff;
    border-top: 1px solid #e2e7ec;
    padding-top: 15px
}

.post-footer a:not(.btn) {
    color: #575d63
}

.post-footer a:not(.btn):focus,
.post-footer a:not(.btn):hover {
    color: #2d353c
}

.post-likes {
    color: #6d767f;
    font-weight: 600;
    font-size: 12px
}

.post-likes .stats-right {
    float: right
}

.post-likes .stats-total {
    display: inline-block;
    line-height: 20px
}

.post-likes .stats-icon {
    float: left;
    margin-right: 5px;
    font-size: 9px
}

.post-likes .stats-icon+.stats-icon {
    margin-left: -2px
}

.post-likes .stats-text {
    line-height: 20px
}

.post-likes .stats-text+.stats-text {
    margin-left: 15px
}

.post-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px
}

.post-comment-box .user {
    float: left;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 30px
}

.post-comment-box .user img {
    max-width: 100%;
    max-height: 100%
}

.post-comment-box .user+.input {
    margin-left: 44px
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.text-danger, .text-red {
    color: #ff5b57!important;
}

.post-comment {
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm{
  margin-right: 10px;
}

img.profile-photo-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.be-comment-block {
    margin-bottom: 5px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 5px 15px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
