{% block content %}
<div class="span4">
    <h1>Timeline</h1>
    <table class="timeline-table">
    <tr>
        <th>0-4</th>
        <th>4-11</th>
        <th>11-18</th>
        <th>18-25</th>
    </tr>
    {% for tl in timeline %}
    <tr>
        <td>
            <div class="btn-group"> <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                      <h3>{{ tl.title }}</h3>
                       <span class="right-caret right"></span>
                 </a>
                <ul class="dropdown-menu rightMenu">
                    {% for pdf in tl.pdf.all %}
                    <li>
                        <div class="btn-group"> <a href="{{ pdf.url }}" style="text-align:center;" class="btn btn-link operationsButtons">
                           <h5>{{ pdf.title }}</h5>
                           </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
