{% extends 'pages/home_page.html' %} {% block content %}
<style>
    .rightMenu {
        position: relative;
        float: right;
    }
    
    .right {
        float: right;
    }
    
    .thead {
        font-size: 28px;
    }
</style>

<div class="span4">
    <h1 id="timeline-base-header">Your Timeline</h1>
    <label id="timeline-base-label" for="child">Choose a Child:</label>

	<form method="post">
    <select id="child" name="child">
        {% for child in children %}
            <option value="{{child.id}}">{{ child.first_name }} {{ child.last_name }}</option>
        {% endfor %}
		{% csrf_token %}
		<input type="submit" class="btn btn-success" value="view">
    </select>
	</form>

	<h3>Viewing timeline for {{group.child.first_name}} {{group.child.last_name}} </h3>
    <table class="timeline-table">
		<tr>
		{% for age_group, topic_group in group.get_sorted_pdfs.items %}
		<td>
			<table>
				<thead>
					<tr id="timeline-base-label">
						<th>{{ age_group }} Years</th>
					</tr>
				</thead>
				<tbody>
				{% for topic, content in topic_group.items %}
				<tr>
					<td>
						<div class="btn-group dropright">
							<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
								<h3>{{ topic }}</h3>
								<span class="right-caret right"></span>
							</a>

							<ul class="dropdown-menu rightMenu">
							{% for c in content %}
							<li> <a href="{{ c.get_url }}"> {{c.title}} </a> </li>
							{% endfor %}
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</td>
			{% endfor %}
		</td>
		</tr>
    </table>
</div id="timeline-base">

{% endblock %}
