{% extends 'pages/home_page.html' %}
{% block content %}
<div id="timeline-base" class="span4">
    <h1 id="timeline-base-header">Your Timeline</h1>

    <label id="timeline-base-label" for="child">Choose a Child:</label>

    <select id="child">
        {% for child in children %} {% if child.parent == user %}
        <option value="{{child.first_name}}">{{ child.first_name }}  {{ child.last_name }}</option>
        {% endif %}
        {% endfor %}
    </select>

    <table id="timeline-table"class="timeline-table">
    <tr id="timeline-base-label">
        <th>0-4</th>
        <th>4-11</th>
        <th>11-18</th>
        <th>18-25</th>
    </tr>
    {% for timeline in Timeline %}
    <tr>
        <td>
            <div class="btn-group"> <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                      <h3>{{ timeline.header }}</h3>
                       <span class="right-caret right"></span>
                 </a>

                <ul class="dropdown-menu rightMenu">
                    {% for pdf in Pdf %}
                    <li>
                        <div class="btn-group"> <a href="{{ pdf.url }}" style="text-align:center;" class="btn btn-link operationsButtons">
                           Download pdf
                           </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>

    <form action="{% url 'upload' %}">
        <input class="btn btn-outline-info" type="submit" value="Add to timeline" />
    </form>
</div>

{% endblock %}
