{% extends 'pages/home_page.html' %} {% load crispy_forms_tags %} {% block content %}
<div id="profileForm" class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
        <div style="padding-left: 50px;" c class="media-body">
            <h2 style="color: #f8d061;" class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile info</legend>
            {{ u_form|crispy }} {{ p_form|crispy }}
        </fieldset>
        <div style="padding-bottom: 20px; font-size: 20px;">
            <a href="{% url 'children-create' %}">Add Child</a>
            <a href="{% url 'children-list' %}">View Children</a>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}