{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="240">
        <div class="media-body">
          <h2 class="account-heading"> Welcome back {{ user.username }}</h2>
          <p> username: {{user.username}} </p>
          <p> Name: {{user.first_name}} {{user.last_name}} </p>
          <p> email: {{ user.email }}</p>
          <p> profession: {{user.profile.profession}} </p>
          <p> gender: {{user.profile.gender}} </p>
          <p> Address: {{user.profile.address}} </p>
          <p> City: {{user.profile.city}} </p>
          <p> Country: {{user.profile.country}} </p>
          
        </div>
      </div>
      <form action="http://127.0.0.1:8000/profile/edit_profile/">
          {% csrf_token %}
          <input type="submit" value="edit"/>
      </form>
    </div>
{% endblock content %}