{% extends "store/base.html" %} {% block content %} {% for publication in publications%}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ publication.username.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ publication.username }}</a>
            <small class="text-muted">{{ publication.date_added|date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'publication-detail' publication.id %}">{{ publication.title }}</a></h2>
        <p class="article-content">{{ publication.itinerary }}</p>
    </div>
</article>
{% endfor %} {% endblock content %}