<header>

  <nav>
    <h1 style="color:#2E8B57;"id="logo"><img src="https://img.icons8.com/dusk/57/000000/family.png">  Parent Supportal</h1>
    <ul class="nav-links">
      <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
      <li style="padding-left:800px;"class="nav-item"><a class="nav-link" href="#popup1">Login / Signup</a></li>
    </ul>
  </nav>
  
</header>
