<head>
    <style>
        *{background-color: #333333;}
        .box{border: black 3px solid; width: 80%;  margin: 5px auto;}
        .list-item li{list-style: none;  font-size: 20px; color: white; height: 100px; border-radius: 25px; width: 90%; background-color: #666666; margin: 50px auto; text-align: center; padding-top: 30px;}
    </style>
</head>

<body>
<div class="box">
    {% for disability in object_list %}
    <div class="list-item">
    <li>
        Name: {{ disability.name }}
        <p></p>
        Keywords: {{ disability.keywords }}
    </li>
    </div>

<p></p>
    {% endfor %}
</div>

</body>