{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parent Supportal/Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- stylling the page by linking to a css file -->
    <style>{% include "pages/stylesheet.css" %}</style>
  </head>

  <body>
    <header>

      <nav>
        <h1 style="color:#1E90FF;"id="logo"><img src="https://img.icons8.com/dusk/57/000000/family.png">  Parent Supportal</h1>
        <ul class="nav-links">
          <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="blogs">Blogs</a></li>
          <li style="padding-left:860px;"class="nav-item"><a class="nav-link" href="#popup1">Register</a></li>
        </ul>
      </nav>

    </header>



    {% block content %}
    <div class="main-body">
        <div id="introduction_content" class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-12 col-sm-10">
                <br>
                <div class="jumbotron">
                    <h1 id="heading-text">Hello, world!</h1>
                    <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                    <p> watch this video to get general idea about our project.</p>
                    <iframe class="video" height="430px" width="750px" src="https://www.youtube.com/embed/uo7x2qJuJ-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <div id="semi-Introduction" class="col-7 col-sm-7 col-lg-12">
                        <h2 id="heading-text">Introduction</h2>
                        <!-- <img src="https://source.unsplash.com/V3dHmb1MOXM/350x300" width="360px" height="300px"> -->
                        <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                            friendly HTML, CSS and Javascript.</p>
                        <a id= "viewBtn" class="btn btn-danger rounded" href="#">View details »</a>
                    </div>

                    <div id="semi-Introduction" class="col-7 col-sm-7 col-lg-12">
                        <h2 id="heading-text">Our aim?</h2>
                        <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                            facilitate responsive Web design. </p>
                        <a id= "viewBtn" class="btn btn-danger" href="#">View details »</a>
                    </div>

                    <div id="semi-Introduction" class="col-7 col-sm-7 col-lg-12">
                        <h2 id="heading-text">Why us?</h2>
                        <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                            friendly HTML, CSS and Javascript.</p>
                        <a id= "viewBtn" class="btn btn-danger" href="#">View details »</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}




        <div id="popup1" class="overlay">
        	<div class="popup">
        		<h2>Here i am</h2>
        		<a class="close" href="#">&times;</a>
        		<div class="content">
        			<p>Thank to pop me out of that button, but now there will be the video and you need to watch it before you are able to signup.</p>
        		</div>
            <iframe class="video" height="430px" width="750px" src="https://www.youtube.com/embed/uo7x2qJuJ-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="registerlink">
              <p> already watched it?<a href="{% url 'register' %}">Register</a><p>
            </div>
          </div>
        </div>

        <footer id="footer">

          <div id= "footer-body" class="row">
            <div class="col-3 col-md">
              <img src="https://img.icons8.com/officel/50/000000/mother.png">
              <small style="font-size: 16px;" class="d-block mb-4 text-muted">&copy; 2020-2021</small>
            </div>
            <div class="col-4 col-md">
              <h5><a href="#">Features</a></h5>
              <ul id="footer-ul" class="list-unstyled text-small">
                <li class="text-muted">future development</li>
                <li class="text-muted">Team features</li>
                <li class="text-muted">developers/join us</li>
              </ul>
            </div>
            <div class="col-4 col-md">
              <h5><a href="#">Resources</a></h5>
              <ul id="footer-ul" class="list-unstyled text-small">
                <li class="text-muted">Books</li>
                <li class="text-muted">Internet</li>
                <li class="text-muted">communitites</li>
              </ul>
            </div>
            <div class="col-4 col-md">
              <h5><a href="#">About us</a></h5>
              <ul id="footer-ul" class="list-unstyled text-small">
                <li class="text-muted">Cantact us</li>
                <li class="text-muted">Team</li>
                <li class="text-muted">Locations</li>
                <li class="text-muted">Privacy</li>
                <li class="text-muted">Terms</li>
              </ul>
            </div>
          </div>

        </footer>
    </div>
  </body>
</html>
