
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Righteous&display=swap');
#logo {
  font-family: 'Bree Serif';
  font-size: 40px;
  cursor: pointer;
  padding-left: 25px;
  padding-top: 10px;
}
nav {
  display: flex;
  justify-content:flex-start;
  align-items:stretch;
  background-color:#DCDCDC;
}
.nav-item {
  display: inline-block;
  padding: 0px 2px;
  transition: all 0.3s ease 0s;
  font-size: 30px;
}
.nav-item a{
  font-size: 20px;
  padding-top: 27px;
  padding-left: 2px;
}
#introduction_content {
  padding-left: 290px;
  width: 100%;
  padding-bottom: 100px;
}
.jumbotron {
  background-color:#DCDCDC;
  background: rgba(230,230,230,0.8);
  margin-bottom: 25px;
  height: 680px;
  padding-top: 20px;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');
#heading-text{
  color: #1E90FF;
  font-size: 40px;
  font-family: 'Candal', ;
}
#semi-Introduction{
  background-color:#DCDCDC;
  background: rgba(230,230,230,0.8);
  padding: 30px;
  margin: 10px;
}
#viewBtn {
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  align-items: flex-start;
}
.row {
  align-items: center;
}
#footer {
  padding-bottom: 50px;
  width: 100%
  color: #1E90FF;
  padding-left: 300px;
  padding-right: 200px;
  background-color:  #DCDCDC;
  padding-top: 30px;
  height: 300px;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
p {
  font-family: 'Playfair Display';
  font-size: 22px;

}
p:hover {
  color: #7B68EE;
}
#footer-ul {
  font-size: 20px;
}
.main-body {
 /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
 /* background: url('https://source.unsplash.com/V3dHmb1MOXM/1920x1080') no-repeat center center fixed; */
 /* background: url('https://source.unsplash.com/BIk2ANMmNz4/1920x1080') no-repeat  fixed; */
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 60%;
height: 630px;
position: relative;
transition: all 5s ease-in-out;
}

.popup h2 {
margin-top: 0;
color:#1E90FF;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #1E90FF;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}
.registerlink {
  padding-top: 10px;
}

@media screen and (max-width: 700px){
.box{
  width: 70%;
}
.popup{
  width: 70%;
}
}
.video {
  margin-left: 140px;
}
